/* DEFAULT */
body {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  position: relative;
}

input:focus {
  outline: 1px solid #eee;
}
ul,
ol {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}

a,
a:hover,
a:visited {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* PREFIXED */
.flex {
  display: flex;
}
.flex-col {
  flex-direction: column;
}

/* LAYOUTS */
.inner {
  width: 100%;
  height: 100%;
}
.header {
  position: absolute;
  width: 100%;
  height: 50px;
  top: 0;
  left: 0;
  right: 0;
}

.header .title {
  display: flex;
  width: 200;
  height: 50px;
  font-size: 30px;
  font-weight: 700;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -100px;
  align-items: center;
  justify-content: center;
}
.header + .contents {
  position: absolute;
  width: 100%;
  height: calc(100% - 50px) !important;
  top: 50px;
  left: 0;
  right: 0;
  padding: 50px 0;
}

.login-wrap {
  width: 100px;
  height: 40px;
  position: absolute;
  right: 30px;
  top: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.login-wrap > button,
.login-wrap > a {
  width: 100px;
  height: 100%;
  border: 0;
  border-radius: 10px;
  color: #fff;
  background: #828282;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 0 10px;
}

.login-wrap > button:hover,
.login-wrap > a:hover {
  animation: 5s ease-in;
  background: #469ca8;
}
.signin,
.signup {
  width: 90%;
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.signin h2 {
  display: none;
}

.signin-form {
  width: 100%;
}
.signin-form form {
  width: 100%;
  gap: 15px;
}

.signin-form .list {
  width: 100%;
  gap: 10px;
}
.signin-form .list li {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.signin-form .list li label {
  width: 130px;
}
.signin-form .list li input {
  width: calc(100% - 130px);
  height: 100%;
  border-radius: 5px;
  border: 1px solid #35757d;
}
.signin-form .list li.message {
  color: #b34343;
  height: 20px;
  padding-left: 135px;
}

.sign-btn {
  width: 100%;
  height: 50px;
  background: #35757d;
  color: #fff;
}
.sns-signin {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sns-signin li,
.sns-signin li button {
  width: 50px;
  height: 50px;
}

/* THEME */
button {
  cursor: pointer !important;
  border: 0 !important;
}
.save-btn {
  width: 100%;
  background: #56b4c0;
  color: #fff;
  padding: 10px;
  border: 0;
  margin-bottom: 10px;
  border-radius: 10px;
}
.save-btn:hover {
  animation: 3s ease-in;
  background: #35757d;
}

/* CONTENTS AREA */
.wrap,
.main {
  width: 100% !important;
  height: 100vh !important;
}

/* MAIN */
.main {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 100px;
  gap: 100px;
}
.main .job {
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
.main .job li {
  width: 25%;
  list-style: none;
  border-radius: 5x;
  overflow: hidden;
}
.main .job li.active {
  border: 2px solid #000;
  border-radius: 5px;
}
.main .job li button {
  background: #879698;
  color: #fff;
  font-size: 16px;
  border-radius: 3px;
  width: 100%;
  padding: 5px;
}
.main .job li button img {
  width: 100%;
}
.game-start-btn {
  width: 90%;
  margin: 0 auto;
  background: #35757d;
  border-radius: 3px;
  font-size: 18px;
  color: #fff;
  height: 100px;
}
/* GAME */
.game-zone {
  width: 100%;
  max-width: 900px;
  height: 900px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  place-content: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
  position: relative;
  margin: 0 auto;
}

.game-zone > div {
  width: calc(100% / 9);
  max-width: 100px;
  height: calc(100% / 9);
  background: #eee;
}
.game-zone > div:nth-child(2n) {
  background: #94d1da;
}
.game-zone > div:nth-child(2n + 1) {
  background: #3f7278;
}
.me {
  width: 10%;
  height: 10%;
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  font-size: 25px;
  z-index: 99;
}
#me {
  width: 100%;
  height: 100%;
  background-size: 110px 110px;
  border: 0;
  padding: 0;
  outline: none;
  cursor: pointer;
  caret-color: transparent;
  background: url(../../public/archer.png) no-repeat center/100%;
}
#me:focus {
  border: 2px solid #469ca8;
  border-radius: 3px;
}

#me.warrior {
  background: url(../../public/warrior.png) no-repeat center/100%;
}
#me.archer {
  background: url(../../public/archer.png) no-repeat center/100%;
}
#me.wizard {
  background: url(../../public/wizard.png) no-repeat center/100%;
}
#me.thief {
  background: url(../../public/thief.png) no-repeat center/100%;
}
.empty-sell {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  text-indent: -1000px;
  background: #fff !important;
}
