/* Theme */
.save-btn {
  width: 100%;
  background: #56b4c0;
  color: #fff;
  padding: 10px;
  animation: 3s ease-in;
  border: 0;
  margin-bottom: 10px;
}
.save-btn:hover {
  background: #35757d;
}
/* 반영 영역 */
.wrap,
.main {
  width: 100% !important;
  height: 100vh !important;
}

.game-zone {
  width: 90%;
  height: 90%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  place-content: flex-start;
  flex-wrap: wrap;
  position: relative;
  margin: 0 auto;
}

.game-zone > div {
  width: 10%;
  height: 10%;
  background: #eee;
}
.me,
#me {
  width: 10%;
  height: 10%;
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  font-size: 25px;
  border: 2px dotted #0a0a0a;
}
